/* styles.css */

/* Réinitialisation des marges et des rembourrages */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.add-task {
  display: flex;
  margin-bottom: 20px;
}

.add-task input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-task button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-task button:hover {
  background-color: #0056b3;
}

.task-list {
  list-style-type: none;
  padding: 0;
}

.task {
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.task input[type="checkbox"] {
  margin-right: 10px;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

span {
  margin: 0 5px;
}

.task-1 {
  background-color: #ffcccc; /* Rouge clair */
}

.task-2 {
  background-color: #ffddcc; /* Orange clair */
}

.task-3 {
  background-color: #ffffcc; /* Jaune clair */
}

.task-4 {
  background-color: #ccffcc; /* Vert clair */
}
